@charset "UTF-8";

html{
    height: 100%;
}


#container {
    margin-left: 40%;
        margin-top: 20px;
    display: block;
    width: 18%;
        background-color: rgba(0 0 0/25%);
        border-radius: 10px;
}

p {
    margin: 0 0 5px;
}

.login_back5 {
    margin-top: 5%;
    padding-bottom: 10%;
}
.login_new {
    margin-top: 10%;
    padding-bottom: 10%;
}

.input {
    width: 250px;
}

.input-register {
    margin-right: 15%;
    width: 200px;
}
.login_form {
    display: inline-block;
}
.register_form {
    font-display: inline-block;
}
p {
    color: #fff;
    font-weight: bold;
}
body{
    background: linear-gradient(#0072FF, yellow);
    max-height: 100%;
    text-align: center;
    justify-content: center;
        /* background: #186AC9;*/
    }

.log img {
    width: 10%;
}

.title {
    font-size: 30px;
}

.btn {
    margin-top: 5%;
    margin-left: 50%;
    width: 45%;
}

#clear .btn {
    margin-left: 0;
    margin-bottom: 10%;
}
.btn-danger1 {
    color: #fff;
    background-color: #bf5329;
    border-color: #aa4a24;
    width: 120px;
    margin-right: 9%;
}
.login_back {
    margin-top: 10%;
    padding-bottom: 5%;
}
.log {
    margin-top: 10%;
}
label {
    color: #fff;
    text-align: start;
    width: 100px;
}

.register_form label {
    margin-left: 10%;
    margin-top: 5%;
}
.button.input {
    width: 200px;
}
label,
.input {
    display: block;
    text-align: start;
        margin-left: 2%;
}
.atlas_ima .register {
    color: #fff;
}

.atlas_rog {
    color: #fff;
    padding-top: 10%;
}

a {
    color: #fff;
}

.finish {
    margin-top: 10%;
}

.btn_login {
    padding-bottom: 10%;
}

.login_back5 {
    color: #fff;
    border-color: #aa4a24;
}

.email {
    width: 230px;
    border-radius: 5px;
}

.name-register {
    width: 230px;
    border-radius: 5px;
}
.password {
    width: 230px;
        border-radius: 5px;
}

.confirmation {
    width: 230px;
        border-radius: 5px;
    }
