@charset "utf-8";
html{
}
#body {
}
#head {
    display: flex;
    align-items: center;
        height: 100px;
}

/* ログイン画面 */
.head-right {
    display: flex;
    align-items: center;
}
#clear {
    color: white;
}
.atlas {
    width: 150px;
}

.side-user {
    margin-top: 10px;
    color: #fff;
    margin-left: 75%;
    width: 20%;
}

.side_user {
    max-width: 30%;
}
#confirm p {
    margin-left: 20px;
}

.follows {
    display: flex;
    align-items: center;
}

.followers {
    display: flex;
    align-items: center;
}
.follow-list {
    background-color: #186AC9;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 10px;
    margin-left: 40%;
    margin-bottom: 15px;
    }

.following_posting #text {
    letter-spacing: 0.1em;
}

.count_follow {
    margin-left: 20px;

}
.follower-list {
    margin-left: 40%;
    margin-bottom: 15px;
    background-color: #186AC9;
    border-radius: 10px;
    padding: 10px;
        border: none;
    color: #fff;
}
.search {
    background-color: #186AC9;
    border-radius: 10px;
    border: none;
    color: #fff;
        margin-left: 60px;
            margin-bottom: 55px;
            padding: 10px 40px;
}
.search-button {
    margin-right: 30px;
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
.post_post {
    margin-left: 15%;
}
#container{
    border-right: 1px solid #000;
    flex: 1%;
    }

.form-group {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.table-hover img {
    width: 60px;
    /* 幅を固定 */
    height: auto;
}

.table {
    border-bottom: 1px solid #000 !important;
}

.table>tbody>tr>td {
    border: none;
}

.js-modal-open {
    margin-left: 85%;
}
input.post_image {
    margin-left: 300px;
        margin-right: 80px;
        margin-top: 75px;
    width: 48px;
    height: 48px;
}

.post-date {
    display: flex;
    justify-content: flex-start;
}

.post-name {
    width: 70%;
}

.post-post {
    margin-left: 10%;
}

.time {
    margin-left: 7%;
}

.users_name {
    margin-left: 5%;
}
.icons {
    text-align: center;
    margin-left: 5%;
}
.Trash {
    width: 60px;
        height: 60px;
    cursor: pointer;
    display: inline-block;
        background-image: url('/images/trash.png');
        background-size: contain;
        background-repeat: no-repeat;
        transition: background-image 0.3s;
}
.Trash:hover {
    background-image: url('/images/trash-h.png');
}

.edit_image {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: inline-block;
    background-image: url('/images/edit.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s;
}

.edit_image:hover {
    background-image: url('/images/edit-h.png');
}

a:hover {
    text-decoration: none;
}
.post_icon img {
    text-align: right;
}

input.form-control {
    border: none;
    width: 750px;
}
.container {
    border-style: solid;
}

.border {
    width: 75%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    right: 0;
    width: 20%;
}


input.post.png {
    text-align: right;
}
/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
}

.accordion icon1 {
    margin-left: 60%;
    margin-top: 60%;
}
.accordion {
    /* padding: 30px 22.5px 42px 22.5px; */
}

.accordion-list {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    /*text-align: right; */
}

.accordion-contents {
    padding: 10px 20px;
}

.accordion-text {
    display: none;
    position: absolute;
        top: 60px;
        right: -100px;
}

.home {
    padding-top: 15px;
}

.logout {
    padding-top: 15px;
}

.profile {
    align-items: center;
    gap: 16px;
    justify-content: flex-start;
    padding-top: 10px;
}

.profile-users {
    display: flex;
    margin-left: 10%;
        margin-top: 3%;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
}
.accordion-box li {
    text-align: center;
    align-items: center;
    height: 50px;
}
.accordion-box {
    background-color: #fff;
    line-height: 1.5;
    right: 1%;
    bottom: o;
    width: 18vw;
        border: 2px solid blue;
}

/* 矢印 */
.accordion-title {
    position: absolute;
    top: 10px;
    text-align: center;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    right: 25px;
    top: 5px;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    transform: rotate(-45deg);
}
/*.accordion-container .accordion-title {
    display: block;
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 17px;
    padding-left: 50px;
}

*/ .menu ul {
    display: none;
    font-size: 15px;
    position: absolute;
    text-align: center;
    top: 130%;
    font-weight: bold;
    border: solid 2px;
    z-index: 2;
}

/*プロフィール　*/
#contact {
    text-align: center;
    padding: 20px;
    margin: 30px;
    max-width: 100%;
}


.name-block {
    padding-bottom: 20px;
    display: flex;
        justify-content: space-evenly;
}

.mail-block {
    padding-bottom: 20px;
    display: flex;
        justify-content: space-evenly;
}

.password-block {
    padding-bottom: 20px;
    display: flex;
        justify-content: space-evenly;
}

.password_confirmation-block {
    padding-bottom: 20px;
    display: flex;
        justify-content: space-evenly;
}

.bio-block {
    padding-bottom: 20px;
    display: flex;
        justify-content: space-evenly;
}

.images {
    margin-left: 10%;
}
.images-block {
    padding-bottom: 20px;
    display: flex;
        margin-left: 10%;
            justify-content: space-evenly;
}

input.update {
    background-color: red;
    color: #fff;
    width: 150px;
    border-radius: 10px;
    margin-right: 15%;
}

/* ユーザ検索 */
.search_area {
    display: flex;
}

h3 {
    margin-left: 30%;
    text-align: end;
}

.search_area form {
    display: flex;
    align-items: flex-end;
}
.search_image {
    width: 50px;
    height: 50px;
    margin-left: 15px;
        margin-top: 15px;
}

.flex {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
    align-items: center;
    justify-content: space-evenly;
}

.search_username {
    width: 40%;
    margin-left: 30px;
    flex-wrap: nowrap;
}
.form {
    width: 300px;
    margin-left: 45px;
    padding: 10px;
        border-radius: 5px;
}


/* ユーザー名 */
input .form {
    width: 300px;
}

.name_search {
    margin-left: 50px;
}
/* 相手ユーザーのプロフィール */
.users_container {
    display: flex;
    margin-top: 2%;
    letter-spacing: 0.8px;
    border-bottom: 2px solid #000;
    justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
}

.users_btn {
    margin-top: 5%;
    margin-bottom: 2%;
}

.users-bio {
    display: block;
}

.date_time {
    margin-left: 5%;
}
.bio_user {
    line-height: 30px;
}
.icon2_image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.pull-right {
    float: right;
}

.btn-danger {
    color: #ffffff;
    background-color: #d61010;
    border-color: #ffffff00;
}

.profile-info {
    letter-spacing: 2px;
}
.profile-info h4 {
    margin: 0;
    font-size: 20px;
}

.profile-info p {
    margin: 4px 0 0;
}

.profile-info td {
    text-align: right;
}


#modal_open {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

#modal_main {
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 25%;
    border-radius: 10px;
        bottom: 7%;
        width: 50%
}

.edit_image1 {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    }

.form-control1 {
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.modal_BG {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
}
