@charset "utf-8";
html{
}
body{
}
#head {
    display: flex;
}

.side_user {
    color: #fff;
    padding-left: 65%;
    padding-top: 40px;
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    right: 0;
        width: 20%;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
}

.accordion {
    padding: 30px 22.5px 42px 22.5px;
}

.accordion-list {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    /*text-align: right; */
}

.accordion-contents {
    padding: 10px 20px;
}

.accordion-text {
    padding: 24px 25px 24px 24px;
    position: relative;
}

.accordion-box {
    color: #000000;
    line-height: 1.5;
    position: absolute;
    right: 0;
    bottom: o;
}

/* 矢印 */
.accordion-title {
    position: relative;
    text-align: center;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 40%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}
/*.accordion-container .accordion-title {
    display: block;
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 17px;
    padding-left: 50px;
}

*/ .menu ul {
    display: none;
    font-size: 15px;
    position: absolute;
    text-align: center;
    top: 130%;
    font-weight: bold;
    border: solid 2px;
    z-index: 2;
}
