@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    right: 0;
        width: 20%;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
}

/*.accordion-container .accordion-title {
    display: block;
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 17px;
    padding-left: 50px;
}

*/ .menu ul {
    display: none;
    font-size: 15px;
    position: absolute;
    text-align: center;
    top: 130%;
    font-weight: bold;
    border: solid 2px;
    z-index: 2;
}
