@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.accordion-container .accordion-title {
    display: block;
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 17px;
    padding-left: 50px;
}
